/* Make it work under IE6 */

body { font-size: 105%; }

.visit_site {
	padding: 4px 20px 20px 20px;
}
	.visit_site a:hover { color: #868176 !important; }

.tab_navigation {
	position: relative; top: -18px;
}
	.sub_nav { position: relative; top: -10px; }
	.sub_nav a:hover { color: #868176 !important; }
	
	.submenu li a {
		display:inline-block;
		vertical-align: bottom;
		padding: -20px !important;
		margin: 0px !important;
	}
	
	fieldset { padding-bottom: 12px !important; }
	.input_field { padding: 0px; }
	
	input.smallfield,
	input.mediumfield,
	input.bigfield,
	textarea.textarea {
		background: #F9F8F3;
		border: 1px solid #E1DED4;
		padding: 5px 8px;
		margin: 2px 0px;
	}

	input.smallfield:focus, 
	input.mediumfield:focus, 
	input.bigfield:focus, 
	textarea.textarea:focus { border: 1px solid #777; }
	
	.submit {
		background: #B5AEA0 url('../images/bg_active_tab.gif') repeat-x top;
		border: 1px solid #B5AEA0;
		color: #5C574D;
		font-size: 1.1em;
		padding: 5px 8px;
		margin: 2px 0px 2px;
		-moz-border-radius: 3px;
		-khtml-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		cursor: pointer;
		position: relative;
		top: 8px;
	}