<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">

<head>
	<title>PDFParser - administračný panel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<!-- 
	Loading CSS file, and JavaScript files;
	-->
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<script src="/js/jquery.js" type="text/javascript"></script>
	<script src="/js/jquery-ui.js" type="text/javascript"></script>
	<script src="/js/functions.js" type="text/javascript"></script>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="all" href="css/ie6.css" />
	<![endif]-->
	
</head>
<body>

<div id="header"><!-- Header -->
	<div id="panel_top"><!-- Panel Top -->
		
		<div class="logo">
			<h1><a href="index.php" title="Dashboard"><img src="/images/logo_text.gif" alt="" /></a></h1>
		</div>
	</div><!-- /Panel Top -->
	
</div><!-- /Header -->

<!-- HEADER ENDS HERE, BEGINNING MAIN CONTAINER -->

<!--
Container (Content) begins here. Class .inbox is making sure there
is a proper padding in the #primary box;
-->

<div id="container"><!-- Container -->
	<div id="primary"><!-- Primary -->
		<div class="inbox"><!-- Inbox -->
			
		<%= yield %>	
			
		</div><!-- /Inbox -->
	</div><!-- /Primary -->
	
	<div id="sidebar"><!-- Sidebar -->
		
		<!--
		Navbox in this case is a whole wrapper; 
		Class .navhead_blank should be used for DIV when you don't want to use a submenu;
		Class .navhead is used to create a button that will be a trigger for submenu to slide out/in;
			Submenu is conainted within UL.submenu, which is wrapped in DIV.subnav :)
		-->
		
		<div id="navbox"><!-- Navbox -->
			<div class="sidenav"><!-- Sidenav -->
				<div class="navhead_blank"><a href="#" title="">Blank</a></div>
				
				<div class="navhead">Sidemenu item 1</div><!-- Sidenav Headline -->
					<div class="subnav"><!-- Sidenav Box -->
						<ul class="submenu">
							<li><a href="#" title="">Side Item 1</a></li>
							<li><a href="#" title="">Side Item 1</a></li>
							<li><a href="#" title="">Side Item 2</a></li>
						</ul>
					</div><!-- /Sidenav Box -->
					
				<div class="navhead">Sidemenu item 2</div>
					<div class="subnav">
						<ul class="submenu">
							<li><a href="#" title="">Side Item 1</a></li>
							<li><a href="#" title="">Side Item 2</a></li>
							<li><a href="#" title="">Side Item 3</a></li>
							<li><a href="#" title="">Side Item 4</a></li>
						</ul>
					</div><!-- /Sidenav Box -->
			</div><!-- /Sidenav -->
		</div><!-- Navbox -->
		
	</div><!-- /Sidebar -->
	
	<div class="clear"></div><!-- Clearing Main Container -->
</div><!-- /Container -->

</body>
</html>